body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#mainContent {
    display: flex;
}

#left {
    width: 40vw;
    background-image: url('tech.jpg');
    background-size: 100% 100%;
    height: 100vh;
}

#right {
    width: 60vw;
    height: 100vh;
}

#banner {
    background-color: rgba(230, 210, 206, 0.5);
    margin-top: 10vh;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: xxx-large;
}

/* Forms */

.form {
    padding: 16px;
    font-size: 16px;
    background: rgba(230, 210, 206, 0.2);    
}

form div {
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    width: 48%;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.h3 {
    font-size: xx-large;  
}

.form .h3 {
    margin-bottom: 20px;
}

input {
    height: 20px;
}