body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

#mainContent {
    display: flex;
}

#left {
    width: 40vw;
    background-image: url('tech.jpg');
    background-size: 100% 100%;
    height: 100vh;
}

#right {
    width: 60vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

#banner {
    background-color: rgba(230, 210, 206, 0.5);
    margin-top: 10vh;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: xxx-large;
}

/* Forms */

.form {
    font-size: 16px;
    background: rgba(230, 210, 206, 0.2);
    width: 100%;
    padding: 50px;
}

form .input {
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    width: 48%;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.h3 {
    font-size: xx-large;  
}

.form .h3 {
    margin-bottom: 20px;
    font-family: "Playwrite CU Guides";
}

input {
    height: 25px;
    border: 1px solid black;
    padding: 2px 2px 2px 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.actions {
    text-align: right;
    width: 54vw;
}

button {
    padding: 10px;
    border: none;
    background-color: green;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

input:invalid {
    border-color: red;
}

input:focus {
    background-color: whitesmoke;
}